body {
  padding: 1em;
  line-height: 1.2;
}

.nav {
  float: left;
  text-decoration: none;
  margin: 2em;
  list-style-type: none;
  overflow: hidden;
  /* width: 100%; */
  padding: 0;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

footer {
  font-family: 'Amiri', serif;
  padding: 1em 2.5em 2.5em 2.5em;
  font-size: .75em;
  text-align: center;
}
